<!DOCTYPE html>
<html>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<head>
	<title>About Us</title>
	{% include 'base.html' %}
	<script type="text/javascript" src="{% static 'login.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/testimony.js' %}"></script>
	<style type="text/css">
		body {
			background: linear-gradient(173.09deg, rgba(55, 232, 157, 0.85) 0.14%, rgba(131, 96, 195, 0.85) 98.43%), url(https://www.socialsolutions.com/wp-content/uploads/2016/05/campus_31.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			font-family: 'Lato', sans-serif !important;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Lato', sans-serif !important;
			color: white;
		}

		h1 {
			text-align: center;
			font-weight: bold;
			font-size: 3rem;
		}

		.forms {
			background: white;
		}

		#header {
			font-size: 5vmax;
		}

		#header2 {
			text-align: center;
			font-size: 2vmax;
			font-weight: bold;
			line-height: 4rem;
		}

		.description {
			padding: 2rem;
			background-size: cover;
			animation: slide 2s forwards;
		}

		.button {
			background: #8360C3;
			color: white;
			border: none;
			border-radius: 20px;
			width: 10rem;
		}

		.messages {
			overflow-wrap: break-word;
			word-wrap: break-word;
		}

		.messages h4 {
			color: black;
		}

		.messages h6 {
			color: grey;
		}

		.button:hover {
			background: white;
			color: #8360C3;
			border: 2px #8360C3 solid;
		}

		#logo {
			width: 150px;
			height: 100px;
			object-fit: cover;
		}

		.profiles img {
			width: 250px;
			height: 250px;
			object-fit: cover;
			margin: 1rem 2rem;
			padding: 0.5rem 2rem 1rem;
			animation: slide 2s forwards;
			border: 2px solid white;
		}

		.profiles {
			margin: 2rem 0;
		}

		#prissy {
			border-radius: 45% 55% 42% 58% / 30% 45% 55% 70%;
		}

		#yudha {
			opacity: 0;
			border-radius: 48% 52% 67% 33% / 53% 38% 62% 47% ;
			animation-delay: 0.3s;
		}

		#bintang {
			opacity: 0;
			border-radius: 36% 64% 43% 57% / 61% 50% 50% 39% ;
			animation-delay: 0.6s;
		}

		#angel {
			opacity: 0;
			border-radius: 56% 44% 50% 50% / 71% 61% 39% 29% ;
			animation-delay: 0.9s;
		}

		@keyframes slide {
			0% {
				opacity: 0;
				transform: translateX(-10%);
			}
			100% {
				opacity: 1;
				transform: translateX(0);
			}
		}

	</style>
</head>
<body>
	{% include 'nav.html' %}
	<div class="description d-lg-flex justify-content-center align-items-center flex-column">
		<h1 id="header">WE ARE <img id="logo" src="{% static 'img/UInion-logo.png' %}"></h1>
		<h4 id="header2">An organization made by students, for students. We aspire to build a community of evergrowing students and help them look for the activities they need to support their growth.</h4>
	<div class="profiles row">
		<img id="prissy" alt="Prissy Azzahra" src="{% static 'img/profile/prissy.jpg' %}">
		<img id="yudha" alt="Yudha Ananda" src="{% static 'img/profile/yudha.jpg' %}">
		<img id="bintang" alt="Bintang Agung" src="{% static 'img/profile/bintang.jpg' %}">
		<img id="angel" alt="Angelina Condro" src="{% static 'img/profile/angel.jpg' %}">
	</div>
	</div>
	<div class="forms">
		<div class="p-4">
			<div class="d-flex align-items-center justify-content-center flex-column">
				<h1 style="color: #8360C3">HAVE SOMETHING TO SAY?</h1>
				<hr style="border-top: 3px solid #37E89D; width: 95%;">
			</div>
			<div class="form-group testiform">
				<form method="POST", action="{% url 'about' %}">
					{% csrf_token %}
						{% for field in form %}
							<p>{{ field }}</p>
						{% endfor %}
					<button id="submit" type="submit" class="button btn btn-primary">SUBMIT</button>
				</form>
			</div>
	<div class="messages">
		{% if allComments %}
		{% for obj in allComments %}
	        <div class="col">
	        	<div class="row">
		            <h4 class="mr-4">{{ obj.email|default:"test@test.com" }}</h4>
		            <h6>posted on {{ obj.created_at }}</h6>
	            </div>
	            <p>{{ obj.testi }}</p>
	        </div>
    	{% endfor %}
    	{% else %}
    		<h4 style="color: grey">Members haven't said anything about us.... yet!</h4>
    	{% endif %}
	</div>
    </div>
		{% include 'footer.html' %}
	</div>
</body>
</html>