{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% include 'base.html' %}
		<meta name="google-signin-client_id" content="911977734056-laelrkgmuh01ofk744lmfh06oqeb59cb.apps.googleusercontent.com">
		<title>Sign up - UInion</title>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="{% static 'signup_style.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>	
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script src="{% static 'login.js' %}"></script>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	</head>

	<body class ="signup_body">
		{% include 'nav.html' %}
		<h1 class="text-center" id="title">SIGN IN WITH YOUR GOOGLE ACCOUNT</h1>
		{% csrf_token %}
		<div class="d-flex justify-content-center">
			<div class="g-signin2 button_signup" data-onsuccess="onSignIn"></div>
		</div>
		<br><br>
	</body>

	<footer>
		{% include 'footer.html' %}
	</footer>
	
</html>

