<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    {% include 'base.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Join The Event Now</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'navandfooter.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style type ="text/css">
        body{
            background-image: linear-gradient(to right, #34DEA8, #8360C3);
        }
        h1, h2, h3, h4, h5, h6 {
			font-family: 'Lato', sans-serif !important;
		}

		.navbar-light .navbar-nav .nav-link {
    		color: white;
    		font-size: 1.5rem;
		}
        .navbar-collapse {
			justify-content: flex-end;
        }
        #logo {
			object-fit: cover;
        }
        h1{
            color: white;
            position: relative;
            left: 2%;
        }
        form{
            position: relative;
            left: 2%;
        }
       
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <h1>THANKYOU FOR JOINING !!!</h1>

    {% include 'footer.html' %}
</body>
</html>