{% load static %}
body {
    font-family: 'Lato', sans-serif !important;
    background: linear-gradient(#eb01a5, #d13531);
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif !important;
}

#headerEvent {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
}

.news-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-image {
    width: 150px;
    position : center;
    margin-left: auto;
    margin-right: auto;
}

.news-text {
    margin: 2rem;
}

.display {
    font-family: 'Lato', sans-serif !important;
    background: linear-gradient(131.9deg, rgba(131, 96, 195, 0.5) -24.55%, rgba(55, 232, 157, 0.5) 59.05%),  url('https://s3-alpha.figma.com/img/d163/0f15/aa3a7ff0349bca3d068808c9444cae04');
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar-light {
    color: white;
    font-size: 1.5rem;
}

.navbar-nav {
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
}

.navbar {
    color: white;
}

.footer {
    display: flex;
    color: white;
}

.contact {
    flex: 1;
}

.copyright {
    margin-top: 3rem;
    text-align: center;
    flex: 3;
}

.news-item {
    margin: 2rem;
    max-width: 15rem;
    border: 1px solid #e3e6ea;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

#eventbutton {
    background: #8360C3;
    border: 0;
    border-radius: 0;
    width: 80%;
    margin: 1rem;
}

#history_list {
    font-family: 'Lato', sans-serif !important;
    background:linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(180deg, #6CC7A1 0%, rgba(255, 255, 255, 0) 0%), url{% static 'img/event.png' %};
    background-size: cover;
    position: relative; 
    color : white;
    font-size: 0.8rem;
    background-repeat: no-repeat;
}