.navbar-light .navbar-nav .nav-link {
	color: white !important;
	font-size: 1.5rem;
}

.nav-link {
	margin-right: .5rem;
}

.navbar-brand {
	margin: 0 !important;
}

.navbar {
	color: white;
}

.footer {
	display: flex;
	color: white;
}

.contact {
	flex: 1;
}

.copyright {
	margin-top: 3rem;
	text-align: center;
	flex: 3;
}


#logo {
	object-fit: cover;
}

@media screen and (max-width: 500px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 1rem;
	}
}

