<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>History Events</title>
    {% include 'base.html' %}
    <!-- 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'navandfooter.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'navandfooter.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        function makeTableScroll() {
            // Constant retrieved from server-side via JSP
            var maxRows = 5;

            var table = document.getElementById('history_list');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }
    </script>



<body class="display" onload="makeTableScroll();">
    {% include 'nav.html' %}
    
    <div class="container-fluid list-event-status" style="margin-bottom: 8.5rem">
        <h5 style="color: white; text-align: center">Hello {{ request.session.name }}</h5>
        <h3 style="color: white">History Events</h3> <hr>
        
        {% if request.session.name %}

        <div class=" table-responsive" style="margin-top: -1.3rem">
            <table class="table table-sm table-striped table-primary" id="history_list" style="width:100%">
                <tr>
                    <th>Number</th>
                    <th>Event</th>
                    <th>Date</th>
                </tr>

                {% for i in events %}
                    <td> {{ forloop.counter }} </td>
                    <td> {{ i.event }} </td>
                    <td> {{ i.date }} </td>
                {% endfor %}
            
            </table>
        </div>
        {% endif %}

    </div>
    <!-- <br> <br> <br> <br> <br> <br>
     -->{% include 'footer.html' %}
</body class="display">

</html>