<!doctype html>
<html lang="en">
{% load static %}

<head>
    <title>News</title>
    {% include 'base.html' %}
    <!-- <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'navandfooter.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    
</head>

<body class="display">
    {% include 'nav.html' %}
    <h1 id="headerEvent">EVENTS UPDATE </h1>
<div class="container">
            <div class="news-item-container">
                <div class="row justify-content-center">
                    {% for i in allEvents %}
                    <div class="news-item m-3">
                        <img class="img-thumbnail" src={{ i.image }}>
                        <div class="news-text">
                            <p style="color: #8360C3"><strong>{{ i.date }}</strong></p>
                            <p>{{i.title}}</p>
                            <p>{{i.description}}</p>
                        </div>
                        <div style="text-align: center">
                            <a id="eventbutton" class="btn btn-info btn-primary" href="{% url 'eventform' i.title %}">JOIN</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

</div>
    <span class="letters profile" style="color: white; text-align: center"><br>
        <h3><a href="{% url 'history' %}" data-toggle="tooltip" title="klik for your history">HISTORY</a></br></h3>
    </span>
    
    {% include 'footer.html' %}
</body class="display">

</html>