{% load static %}
<div class="w3-container footer" style="background: #3C3C3C;">
		<div class="contact">
			<img src="{% static 'img/UInion-logo.png' %}" style="width: 150px; height: 150px">
			<p>Contact Us<br>
				Phone : 0xx-xxxx-xxxx<br>
				Email : UInion.xxxx.com<br></p>
		</div>
		<div class="copyright">
			<p>Programming Task 1<br>
			Web Design and Development<br>
			Faculty of Computer Science<br>
			University of Indonesia<br>
			By Angel, Bintang, Prissy, Yudha<br>
			<br>
			© 2018 | All Rights Reserved</p>
		</div>
	</div>