{% load static %}

<head>
	<script>
		var signup = {% url 'signup' %}
	</script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
		<a class="navbar-brand" href="#"><img id= "logo" src="{% static 'img/UInion-logo.png' %}" style="width: 100px; height: 50px"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">NEWS</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'event' %}">EVENT</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">ABOUT US</a></li>
			<li class="nav-item"><a class="nav-link" id="signup" href="{% url 'signup' %}">SIGN UP</a></li>
			<li class="nav-item"><a class="nav-link" id="profile" href="{% url 'history' %}"></a></li>
		</ul>
		</div>
	</nav>
