<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>UInion</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include "base.html" %}
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'navandfooter.css' %}">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<style type="text/css">
		body {
			font-family: 'Lato', sans-serif !important;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Lato', sans-serif !important;
		}

		.background {
			background: url({% static 'img/image-news.jpg' %});
			width: 100vw;
			height: 100vh;
			background-repeat: no-repeat;
			margin-bottom: 20px;
		}

		.landing {
			margin-top: 5rem;
			padding: 5rem;
			width: 100vw;
			max-height: 1000px;
			overflow-wrap: break-word;
		}

		.news {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.news-item-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: inherit;
		}

		.news-image {
			max-width: 100%;
			object-fit: contain;
		}

		.news-text {
			margin: 2rem;
		}

		.news-item {
			margin: 2rem;
			max-width: 15rem;
			border: 1px solid #e3e6ea;
			background: white;
			box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
			display: flex;
			flex-direction: column;
			justify-content: center;
			word-break: break-word;
			overflow-wrap: break-word;
		}


		#newshr {
			border-top: 3px solid #37E89D;
			width: 95%;
		}

		#header {
			color: white;
			font-weight: bold;
			font-size: 6vw;
		}

		#header2 {
			color: white;
			font-weight: bold;
			font-size: 2vw;
		}

		#sapaan {
			color: white;
			font-weight: bold;
			font-size: 2vw;
		}

		#newsHeader {
			color: #8360C3;
			text-align: center;
			font-weight: bold;
		}

		@media screen and (max-width: 400px) {
			.landing {
				margin-top: 2rem;
			}

			#header {
				font-size: 2rem;
			}

			#header2 {
				font-size: 1rem;
			}

			#sapaan{
				font-size: 1rem;
			}
		}
	</style>
</head>
<body>
		<div class="background">
		{% include 'nav.html' %}
			<div class="landing">
				<h4 id = "sapaan"></h4>
				<h1 id="header">WELCOME TO STUDENT UNION WEBSITE</h1>
				<h5 id="header2">Your experience is our priority.</h5>
			</div>
		</div>
		<div class="news">
			<h2 id="newsHeader">NEWS UPDATE</h2>
			<hr id="newshr">
			<div class="news-item-container">
				<div class="row justify-content-center m-0">
					{% for item in allNews %}
					<div class="news-item">
						<img class="news-image m-0" style="align-self: center;" src={{ item.image }}>
						<div class="news-text">
							<b><p>{{ item.date }}</p></b>
							<b><h5 style="color: #8360C3;">{{ item.title }}</h5></b>
							<b><p>{{item.isi}}</p></b>
							<a style="color: black;" href="{{ item.read }}">Read more</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% include 'footer.html' %}
</body>
</html>