body.signup_body{
  background: linear-gradient(173.09deg, rgba(55, 232, 157, 0.85) 0.14%, rgba(131, 96, 195, 0.85) 98.43%), 
  url(https://i.ibb.co/CwhwGFT/1938-0355-student-life-l1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;

}

h1{
  margin-top: 20% !important;
  font-family: 'Lato', sans-serif !important;
  font-size: 4.25vw !important;
  color: white !important;
  animation: slide 2s forwards;
}

.button_signup{
  margin-bottom: 20% !important;
  animation: slide 2s forwards;
}

@media screen and (max-width: 400px) {
      .signup_body {
        margin-top: 2rem;
      }

      .button_signup{
        margin-bottom: 5rem !important;
      }

      #header {
        font-size: 2rem;
      }

      #header2 {
        font-size: 1rem;
      }

      #sapaan{
        font-size: 1rem;
      }
    }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}